/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Piazzolla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500;1,600&family=Roboto:wght@300;400;500&display=swap');
/* ::::::::::::::::::: Globals ::::::::::::::::::::: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--BgColor);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn-primary {
  margin: 1rem auto;
  text-align: center;
  background: transparent;
  border: 2px solid var(--MainColor);
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: var(--MainTransition);
  letter-spacing: 1.2px;
  font-weight: 600;
  color: var(--MainColor);
}
.section {
  max-width: 100vw;
  margin: 0 auto;
}
.section-center {
  max-width: 90%;
  margin: 0 auto;
}
.section-title {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: var(--TitleFont);
}
@media screen and (min-width: 768px) {
  .section-center {
    width: 95%;
  }
  .section-title {
    padding-top: 2rem;
  }
}
#root {
  max-width: 100vw;
}
/* End Globals */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
:root {
  /* Colors */
  --BgColor: rgb(248, 248, 248);
  --GrayColor: #323232;
  --FontGrayColor: #686868;
  --ArticleBgColor: rgb(242, 242, 242);
  --CartBgColor: rgb(242, 242, 242);
  --CtaColor: #1a1a1a;
  /* Fonts */
  --TitleFont: 'Montserrat', sans-serif;
  --TextsFont: 'Roboto', sans-serif;
  --CtaFonts: 'Piazzolla', serif;
  --LogoFont: 'Piazzolla', serif;
  /* Others */
  --MainTransition: 0.3s ease all;
}
/* End Variables */

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* ::::::::::::::::::: Logo ::::::::::::::::::::: */
.main-logo {
  font-family: var(--LogoFont);
  font-style: italic;
  font-weight: 600;
  letter-spacing: 2.2px;
  font-weight: 600;
}
/* End Logo */

/* ::::::::::::::::::: Error :::::::::::::::::::::: */
.error-sect {
  min-height: 70vh;
  background: red;
}
.error-center {
  width: 100%;
  height: 100%;
}
.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Error */
/* Desktop Nav*/
/* End Desktop Nav*/

/* ::::::::::::::::::: Navbar ::::::::::::::::::::: */
.mobile-nav {
  width: 100%;
  height: 4rem;
  background: var(--GrayColor);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.474);
}
/*  --> Mobile <-- */
.mobile-nav-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--BgColor);
}
.ham-icon {
  font-size: 1.7rem;
}

.logo-container {
  font-size: 1.2rem;
}
.cart-container {
  position: relative;
  cursor: pointer;
  transition: var(--MainTransition);
}
.cart-bag {
  font-size: 1.9rem;
}
.bag-amount {
  position: absolute;
  font-family: var(--CtaFonts);
  font-size: 1.1rem;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Navbar */

/* ::::::::::::::::::: Banner Slider ::::::::::::::::::::: */
.banner-sect {
  /*Section*/
  height: 75vh;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.banner-img-container {
  /*Article*/
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--MainTransition);
  width: 100%;
  height: 100%;
  opacity: 0;
}
.banner-img {
  /*Image*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-img-container::after {
  content: '';
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}
/* Dynamic Classes for Slider  -------------------------------------- */
.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(-100%);
}
.nextSlide {
  transform: translateX(100%);
}
/* End Dynamic */
.banner-info {
  z-index: 2;
  width: 90%;
  text-align: center;
  font-family: var(--TitleFont);
  letter-spacing: 1.3px;
  color: white;
  text-transform: capitalize;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-banner {
  background: none;
  outline: none;
  border: 1.5px solid white;
  padding: 0.3rem 1rem;
  color: white;
  font-family: var(--CtaFonts);
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
  transition: var(--MainTransition);
}
.btn-banner:hover {
  background-color: rgb(2, 2, 2);
  color: white;
}
/* End Banner Slider */

/* ::::::::::::::::::: Loading ::::::::::::::::::::: */
.loading {
  font-weight: 2rem;
  letter-spacing: 2px;
  text-align: center;
}
/* End Loading */

/* ::::::::::::::::::: Promoted Card ::::::::::::::::::::: */
.promo-card {
  width: 95%;
  height: 25rem;
  margin: 0 auto;
  background: white;
  margin-bottom: 1rem;
}
.promo-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.promo-info {
  width: 95%;
  margin: 0 auto;
}
.promo-subtitle {
  color: var(--GrayColor);
  font-family: var(--CtaFonts);
  letter-spacing: 1.3px;
  font-weight: 300;
}
.promo-title {
  color: #1a1a1a;
  letter-spacing: 2px;
  font-family: var(--TitleFont);
  font-weight: 400;
}
.cta-promo {
  color: var(--FontGrayColor);
  letter-spacing: 1px;
  font-size: 0.8rem;
  transition: var(--MainTransition);
}
.cta-promo:hover {
  color: #1a1a1a;
}
/* End Promoted Card */

/* ::::::::::::::::::: Artist Card ::::::::::::::::::::: */
.artists-card-sect {
  min-height: 50vh;
}
.artist-card {
  transition: var(--MainTransition);
  width: 100%;
  height: 100%;
  background: white;
  margin-bottom: 3rem;
}
.artist-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artist-card-info {
  width: 95%;
  margin: 0 auto;
  color: var(--GrayColor);
  background-color: white;
  padding: 0.5rem 0rem;
}
.artist-card-info h2 {
  font-family: var(--CtaFonts);
  letter-spacing: 1.3px;
}
.artist-card-info p {
  max-width: 91%;
  padding: 0.3rem 0rem;
  letter-spacing: 1.1px;
}
.btn-artist-card {
  cursor: pointer;
  transition: var(--MainTransition);
  font-size: 0.8rem;
}
.btn-artist-card:hover {
  color: black;
}
/* Card Selectors */
.card-article-selector {
  margin: 0 auto;
  margin-top: 1rem;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.single-selector {
  width: 2.5rem;
  background-color: #a3a3a3;
  height: 0.15rem;
  border-radius: 2px;
  cursor: pointer;
}
/* End Cart Selectors */
/* End Artist Card */

/* ::::::::::::::::::: Newsletter ::::::::::::::::::::: */
.newsletter-sect {
  min-height: 25vh;
}
.newsletter-title-container {
  width: 97%;
  margin: 0 auto;
  display: grid;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter-title {
  text-align: center;
  font-family: var(--TitleFont);
  letter-spacing: 1.3px;
  color: var(--CtaColor);
}
.title-element {
  width: 5rem;
  height: 1px;
  background: var(--FontGrayColor);
}
.newsletter-cta-text {
  color: var(--FontGrayColor);
  font-size: 0.9rem;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}
.newsletter-control {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.newsletter-input {
  border: none;
  outline: none;
  padding: 0.5rem 0.5rem;
  background: #bfbfbf;
}
.btn-newsletter {
  background: var(--CtaColor);
  border: 0.076rem solid transparent;
  outline: none;
  padding: 0.3rem;
  color: white;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-family: var(--CtaFonts);
  cursor: pointer;
  transition: var(--MainTransition);
}
.btn-newsletter:hover {
  background: white;
  color: black;
  border: 0.076rem solid black;
}
/* End Newsletter*/

/* ::::::::::::::::::: Discounts ::::::::::::::::::::: */
.discount-sect {
  min-height: 50vh;
}
.discount-card {
  width: 100%;
  height: 25rem;
  margin: 0 auto;
  text-align: center;
  background: white;
  margin-bottom: 3rem;
}
.discount-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.discount-title {
  font-family: var(--TitleFont);
  letter-spacing: 1.4px;
  font-size: 1.4rem;
  color: var(--CtaColor);
  padding: 0.3rem 0rem;
}
.discount-desc {
  width: 85%;
  margin: 0 auto;
  font-family: var(--TextsFont);
  color: var(--FontGrayColor);
  letter-spacing: 1.1px;
}
/* End Discounts  */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Footer ::::::::::::::::::::: */
.footer-sect {
  background-color: var(--GrayColor);
}
.footer-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0rem;
}
.footer-light {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-social-icons {
  color: white;
  font-weight: 300;
  font-family: var(--TextsFont);
  letter-spacing: 1.2px;
  margin-bottom: 1.5rem;
}
.footer-social-icons h4 {
  margin-bottom: 0.5rem;
  font-family: var(--CtaFonts);
  font-size: 1.1rem;
}
.social-name {
  display: flex;
  cursor: pointer;
}
.social-name p {
  margin-left: 0.5rem;
}
.legal-notices {
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  letter-spacing: 1.3px;
  margin-bottom: 1.5rem;
}
.single-legal {
  cursor: pointer;
}
.legal-notices h4 {
  margin-bottom: 0.5rem;
  font-family: var(--CtaFonts);
  font-size: 1.1rem;
}
.contact-footer {
  color: white;
  font-weight: 300;
  font-family: var(--TextsFont);
  letter-spacing: 1.2px;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}
.contact-single-footer {
  display: flex;
  margin-bottom: 0.5rem;
}
.contact-single-footer p {
  margin-left: 0.5rem;
}
.footer-dark-sect {
  background-color: var(--CtaColor);
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.footer-dark {
  height: 3rem;
  display: flex;
  place-items: center;
  justify-content: center;
}

/* End Footer */
