/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Piazzolla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500;1,600&family=Roboto:wght@300;400;500&display=swap');
/* ::::::::::::::::::: Globals ::::::::::::::::::::: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--BgColor);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn-primary {
  margin: 1rem auto;
  text-align: center;
  background: transparent;
  border: 2px solid var(--MainColor);
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: var(--MainTransition);
  letter-spacing: 1.2px;
  font-weight: 600;
  color: var(--MainColor);
}
.section {
  max-width: 100vw;
  margin: 0 auto;
}
.section-center {
  max-width: 90%;
  margin: 0 auto;
}
.section-title {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: var(--TitleFont);
}
@media screen and (min-width: 768px) {
  .section-center {
    width: 95%;
  }
  .section-title {
    padding-top: 2rem;
  }
}
#root {
  max-width: 100vw;
}
/* End Globals */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
:root {
  /* Colors */
  --BgColor: rgb(248, 248, 248);
  --GrayColor: #323232;
  --FontGrayColor: #686868;
  --ArticleBgColor: rgb(242, 242, 242);
  --CartBgColor: rgb(242, 242, 242);
  --CtaColor: #1a1a1a;
  /* Fonts */
  --TitleFont: 'Montserrat', sans-serif;
  --TextsFont: 'Roboto', sans-serif;
  --CtaFonts: 'Piazzolla', serif;
  --LogoFont: 'Piazzolla', serif;
  /* Others */
  --MainTransition: 0.3s ease all;
}
/* End Variables */

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* ::::::::::::::::::: Logo ::::::::::::::::::::: */
.main-logo {
  font-family: var(--LogoFont);
  font-style: italic;
  font-weight: 600;
  letter-spacing: 2.2px;
  font-weight: 600;
}
/* End Logo */

/* ::::::::::::::::::: Error :::::::::::::::::::::: */
.error-sect {
  min-height: 70vh;
  background: red;
}
.error-center {
  width: 100%;
  height: 100%;
}
.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Error */
/* Desktop Nav*/
/* End Desktop Nav*/

/* ::::::::::::::::::: Navbar ::::::::::::::::::::: */
.mobile-nav {
  width: 100%;
  height: 4rem;
  background: var(--GrayColor);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.474);
  position: relative;
}
/*  -----------> Mobile <----------- */
/* Header */
.mobile-nav-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--BgColor);
}
.ham-icon {
  font-size: 1.7rem;
  cursor: pointer;
  transition: var(--MainTransition);
}
.ham-icon-close {
  font-size: 1.7rem;
  cursor: pointer;
  transition: var(--MainTransition);
}
.logo-container {
  font-size: 1.2rem;
}
.cart-container {
  position: relative;
  cursor: pointer;
  transition: var(--MainTransition);
}
.cart-bag {
  font-size: 1.9rem;
}
.bag-amount {
  position: absolute;
  font-family: var(--CtaFonts);
  font-size: 1.1rem;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Header */
/* Sidebar */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: var(--GrayColor);
}
.sidebar-container {
  display: none;
  width: 100%;
  height: 100vh;
}
.show-sidebar {
  display: block;
  width: 100%;
  z-index: 5;
  position: fixed;
  top: 4rem;
  left: 0;
  background: white;
}
.side-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;
  padding: 1.5rem 0rem;
}
.side-link {
  font-size: 1rem;
  font-family: var(--TitleFont);
  font-weight: 500;
  color: var(--FontGrayColor);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.5rem 0rem;
  cursor: pointer;
  margin: 0.5rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-left: 3px solid transparent;
  transition: var(--MainTransition);
  padding-left: 0.5rem;
}
.side-link:hover {
  color: black;
  border-left: 3px solid black;
}
.sidebar-division {
  width: 70%;
  height: 1px;
  color: var(--FontGrayColor);
  background: var(--FontGrayColor);
  margin: 1rem auto;
}
.sidebar-contact-info {
  width: 70%;
  text-align: center;
  color: var(--FontGrayColor);
  margin: 0 auto;
  margin-top: 4rem;
}
.contact-single-sidebar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}
.contact-single-sidebar p {
  flex: 1;
}
/*  -----------> End Mobile <----------- */
/* End Navbar */

/* ::::::::::::::::::: Banner Slider ::::::::::::::::::::: */
.banner-sect {
  /*Section*/
  height: 75vh;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.banner-img-container {
  /*Article*/
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--MainTransition);
  width: 100%;
  height: 100%;
  opacity: 0;
}
.banner-img {
  /*Image*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-img-container::after {
  content: '';
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}
/* Dynamic Classes for Slider  -------------------------------------- */
.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  opacity: 0;
  transform: translateX(-100%);
}
.nextSlide {
  opacity: 0;
  transform: translateX(100%);
}
/* End Dynamic  ----------------------------------------------------- */
.banner-info {
  z-index: 2;
  width: 90%;
  text-align: center;
  font-family: var(--TitleFont);
  letter-spacing: 1.3px;
  color: white;
  text-transform: capitalize;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-banner {
  background: none;
  outline: none;
  border: 1.5px solid white;
  padding: 0.3rem 1rem;
  color: white;
  font-family: var(--CtaFonts);
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
  transition: var(--MainTransition);
}
.btn-banner:hover {
  background-color: rgb(2, 2, 2);
  color: white;
}
/* End Banner Slider */

/* ::::::::::::::::::: Loading ::::::::::::::::::::: */
.loading {
  font-weight: 2rem;
  letter-spacing: 2px;
  text-align: center;
}
/* End Loading */

/* ::::::::::::::::::: Promoted Card ::::::::::::::::::::: */
.promo-card {
  width: 95%;
  height: 30rem;
  margin: 0 auto;
  background: white;
  margin-bottom: 1rem;
}
.promo-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.promo-info {
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.promo-subtitle {
  color: var(--GrayColor);
  font-family: var(--CtaFonts);
  letter-spacing: 1.3px;
  font-weight: 300;
  font-size: 1rem;
}
.promo-title {
  color: #1a1a1a;
  letter-spacing: 2px;
  font-family: var(--TitleFont);
  font-weight: 400;
  font-size: 1.7rem;
  padding: 0.4rem 0rem;
}
.cta-promo {
  color: var(--FontGrayColor);
  letter-spacing: 1px;
  font-size: 0.8rem;
  transition: var(--MainTransition);
}
.cta-promo:hover {
  color: #1a1a1a;
}
/* End Promoted Card */

/* ::::::::::::::::::: Artist Card ::::::::::::::::::::: */
.artists-card-sect {
  min-height: 50vh;
}
.artist-card-container {
  width: 100%;
  /* Stuff for Slider */
  /*Must have height*/
  height: 38rem;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: 0.25s ease-in-out all;
}
.artist-card {
  transition: 0.25s ease-in-out all;
  width: 100%;
  height: 35rem;
  background: white;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  /* Stuff for Slider */
  position: absolute;
  top: 0;
  left: 0;
}
.artist-card-img {
  width: 100%;
  height: 21rem;
  object-fit: cover;
}
.artist-card-info {
  width: 95%;
  height: 13rem;
  margin: 0 auto;
  margin-top: 1.2rem;
  color: var(--GrayColor);
  background-color: white;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.artist-card-info h2 {
  font-family: var(--CtaFonts);
  letter-spacing: 1.3px;
}
.artist-card-info p {
  max-width: 91%;
  padding: 0.3rem 0rem;
  letter-spacing: 1.1px;
}
.btn-artist-card {
  cursor: pointer;
  transition: var(--MainTransition);
  font-size: 0.8rem;
}
.btn-artist-card:hover {
  color: black;
}
/* Card Selectors */
.card-article-selector {
  margin: 0 auto;
  padding-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.selectors-container {
  display: flex;
  align-items: center;
}
.single-selector {
  width: 2rem;
  background-color: #a3a3a3;
  height: 1px;
  border-radius: 2px;
  cursor: pointer;
  margin: 0rem 0.3rem;
}
.selector-arrow {
  color: var(--FontGrayColor);
  cursor: pointer;
  transition: var(--MainTransition);
}
.selector-arrow:hover {
  color: var(--CtaColor);
}
/* End Cart Selectors */
/* End Artist Card */

/* ::::::::::::::::::: Newsletter ::::::::::::::::::::: */
.newsletter-sect {
  min-height: 22vh;
}
.newsletter-title-container {
  width: 97%;
  margin: 0 auto;
  display: grid;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter-title {
  text-align: center;
  font-family: var(--TitleFont);
  letter-spacing: 1.3px;
  color: var(--CtaColor);
}
.title-element {
  width: 5rem;
  height: 1px;
  background: var(--FontGrayColor);
}
.newsletter-cta-text {
  color: var(--FontGrayColor);
  font-size: 0.9rem;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}
.newsletter-control {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.newsletter-input {
  border: none;
  outline: none;
  padding: 0.5rem 0.5rem;
  background: #bfbfbf;
}
.btn-newsletter {
  background: var(--CtaColor);
  border: 0.076rem solid transparent;
  outline: none;
  padding: 0.3rem;
  color: white;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-family: var(--CtaFonts);
  cursor: pointer;
  transition: var(--MainTransition);
}
.btn-newsletter:hover {
  background: white;
  color: black;
  border: 0.076rem solid black;
}
.division-element {
  width: 95%;
  height: 1px;
  background: var(--FontGrayColor);
  margin: 0 auto;
}
/* End Newsletter*/

/* ::::::::::::::::::: Discounts ::::::::::::::::::::: */
.discount-sect {
  min-height: 50vh;
}
.discount-card {
  width: 100%;
  /* height: 25rem; */
  margin: 0 auto;
  text-align: center;
  background: white;
  margin-bottom: 1.2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.discount-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.discount-title {
  font-family: var(--TitleFont);
  letter-spacing: 1.4px;
  font-size: 1.4rem;
  color: var(--CtaColor);
  padding: 0.3rem 0rem;
}
.discount-desc {
  width: 85%;
  margin: 0 auto;
  font-family: var(--TextsFont);
  color: var(--FontGrayColor);
  letter-spacing: 1.1px;
  padding-bottom: 1rem;
}
/* End Discounts  */

/* ::::::::::::::::::: Articles ::::::::::::::::::::: */
.articles-article-container {
  width: 100%;
}
.articles-card {
  width: 90%;
  margin: 0 auto;
  background: rgba(90, 90, 90, 0.09);
  margin-bottom: 1.3rem;
  transition: var(--MainTransition);
  cursor: pointer;
}
.articles-card:hover {
  transform: scale(1.05);
}
.article-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.article-info {
  width: 90%;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}
.article-title {
  color: var(--CtaColor);
  letter-spacing: 1.3px;
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}
.article-desc {
  letter-spacing: 1px;
  font-family: var(--TextsFont);
}

/* End Articles */

/* ::::::::::::::::::: Visit Stores ::::::::::::::::::::: */
.stores-sect {
  min-height: 20vh;
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-top: 1px solid var(--FontGrayColor);
  border-bottom: 1px solid var(--FontGrayColor);
}
.stores-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.stores-subtitle {
  color: var(--FontGrayColor);
  font-family: var(--TitleFont);
  letter-spacing: 1.2px;
  padding: 0.8rem 0rem;
}
.stores-desc {
  width: 95%;
  margin: 0 auto;
  font-family: var(--TextsFont);
  letter-spacing: 1px;
  padding-bottom: 0.3rem;
}
.btn-stores {
  color: white;
  background: var(--CtaColor);
  border: 1px solid white;
  margin-top: 1rem;
  padding: 0.5rem 4rem;
  font-family: var(--CtaFonts);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: var(--MainTransition);
}
.btn-stores:hover {
  border: 1px solid var(--CtaColor);
  color: var(--CtaColor);
  background: transparent;
}
/* End Visit Stores*/

/* ::::::::::::::::::: About Page ::::::::::::::::::::: */
.about-sect {
  min-height: 45vh;
  text-align: center;
}
.about-img {
  width: 90%;
  height: 12rem;
  object-fit: cover;
  margin: 0 auto;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid var(--GrayColor);
}
.about-info {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  font-family: var(--TextsFont);
  letter-spacing: 1.2px;
  color: var(--GrayColor);
  padding: 1rem 0rem;
  margin-bottom: 1rem;
}
.btn-about {
  border: 1px solid var(--CtaColor);
  color: var(--CtaColor);
  background: transparent;
  padding: 0.5rem 4rem;
  font-family: var(--CtaFonts);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: var(--MainTransition);
  margin-bottom: 3rem;
}
.btn-about:hover {
  color: white;
  background: var(--CtaColor);
  border: 1px solid white;
}
/* End About Page */

/* ::::::::::::::::::: Contact Page ::::::::::::::::::::: */
.contact-subtitle {
  text-align: center;
  color: var(--FontGrayColor);
  font-family: var(--TextsFont);
  letter-spacing: 1.1px;
  margin-bottom: 1rem;
}
.contact-form {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
}
.form-control {
  margin-bottom: 1rem;
}
.single-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.single-label {
  font-size: 1.1rem;
  color: var(--CtaColor);
  font-family: var(--TitleFont);
  margin-bottom: 0.2rem;
}
.single-input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--FontGrayColor);
  padding: 0.3rem;
}
.single-input::placeholder {
  font-size: 0.7rem;
  color: #686868ad;
  text-align: center;
}
.form-msg-control {
  margin: 1rem 0rem;
}
.form-msg {
  margin-top: 0.3rem;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--FontGrayColor);
  resize: none;
}
.form-msg::placeholder {
  text-align: center;
  color: #686868ad;
}
.btn-form {
  width: 100%;
  border: 1px solid var(--CtaColor);
  color: var(--CtaColor);
  background: transparent;
  padding: 0.5rem 4rem;
  font-family: var(--CtaFonts);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: var(--MainTransition);
  margin-bottom: 1rem;
}
.btn-form:hover {
  color: white;
  background: var(--CtaColor);
  border: 1px solid white;
}
/* End Contact Page */

/* ::::::::::::::::::: Instruments Page::::::::::::::::::::: */
.instruments-cards-container {
  width: 100%;
  margin: 0 auto;
}
.instrument-card {
  background: white;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.instrument-img {
  width: 100%;
  height: 15rem;
}
.instrument-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.instrument-title {
  font-size: 2rem;
  font-family: var(--TitleFont);
  letter-spacing: 2px;
  padding: 0.2rem;
  color: var(--CtaColor);
}
.instrument-subtitle {
  color: var(--CtaColor);
  width: 90%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1.3px;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.instrument-desc {
  color: var(--FontGrayColor);
  font-family: var(--TextsFont);
  width: 90%;
  text-align: center;
}
.btn-instruments {
  margin: 1rem auto;
  border: 1px solid black;
  background: white;
  color: black;
  padding: 0.5rem 2rem;
  font-family: var(--CtaFonts);
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--MainTransition);
  text-transform: uppercase;
}
.btn-instruments:hover {
  background: black;
  border: 1px solid white;
  color: white;
}
/* End Instruments Page */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Footer ::::::::::::::::::::: */
.footer-sect {
  background-color: var(--GrayColor);
}
.footer-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0rem;
}
.footer-light {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-social-icons {
  color: white;
  font-weight: 300;
  font-family: var(--TextsFont);
  letter-spacing: 1.2px;
  margin-bottom: 1.5rem;
}
.footer-social-icons h4 {
  margin-bottom: 0.5rem;
  font-family: var(--CtaFonts);
  font-size: 1.1rem;
}
.social-name {
  display: flex;
  cursor: pointer;
}
.social-name p {
  margin-left: 0.5rem;
}
.legal-notices {
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  letter-spacing: 1.3px;
  margin-bottom: 1.5rem;
}
.single-legal {
  cursor: pointer;
}
.legal-notices h4 {
  margin-bottom: 0.5rem;
  font-family: var(--CtaFonts);
  font-size: 1.1rem;
}
.contact-footer {
  color: white;
  font-weight: 300;
  font-family: var(--TextsFont);
  letter-spacing: 1.2px;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}
.contact-single-footer {
  display: flex;
  margin-bottom: 0.5rem;
}
.contact-single-footer p {
  margin-left: 0.5rem;
}
.footer-dark-sect {
  background-color: var(--CtaColor);
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.footer-dark {
  height: 3rem;
  display: flex;
  place-items: center;
  justify-content: center;
  color: var(--FontGrayColor);
}
.footer-title {
  display: flex;
  align-items: center;
}
.footer-title-element {
  width: 45%;
  height: 0.5px;
  background: var(--FontGrayColor);
  margin-left: 0.5rem;
}

/* End Footer */
